name: Build

#プルリクエスト作成時に実行(他にもpush時など設定できます)
on:
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  rspec_job:
    runs-on: ubuntu-24.04


    # https://github.com/ruby/setup-ruby
    steps:
      - name: checkout
        if: ${{ github.event_name != 'pull_request' }}
        uses: actions/checkout@v6
      - name: checkout pr
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup Ruby version
        uses: ruby/setup-ruby@master
        with:
          ruby-version: .tool-versions

      - name: Setup bundler
        run: gem install bundler

      - name: bundle install
        run: |
          bundle install --jobs 4 --retry 3 --path vendor/bundle
      - name: rubocop
        run: bundle exec rubocop
      - name: Run RSpec
        run: bundle exec rspec
